* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-add-item-one {
    color: #cccccc;
    margin-left: 13px;
    font-size: 0.85rem;
}

.nav-add-item-second {
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;
}

/* box3 */

.nav-search {
    display: flex;
    height: 40px;
    width: 1300px;
    background-color: #febd68;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid #febd68;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}

.search-select {
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none
}

.search-box {
    font-size: 1rem;
    width: 100%;
    border: none;
}

/* box4 */

.nav-second {
    font-size: 1rem;
    font-weight: 700;
}

span {
    font-size: 0.85rem;
    color: #cccccc
}

/* box5 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */

.panel {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    padding: 0px 20px 0px 30px;
}

.panel-ops p {
    display: inline;
    margin-left: 10px;
}

.panel-ops {
    width: 85%;
    font-size: 0.9rem;
}

.panel-deals {
    font-size: 1rem;
    font-weight: 700;
}

/* hero */

.hero {
    background-image: url('images/hero_image.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg {
    display: flex;
    background-color: white;
    color: #0f1111;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185
}

/* shopping list */

.shopping-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    /* border: 2px solid #0f1111; */
    background-color: white;
    padding: 20px 10px 15px 10px;
    margin-top: 20px;
}

.box-img {
    height: 320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content p {
    color: #007185
}

/* foooter */

footer {
    margin-top: 20px;
}

.foot-pannel-1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-pannel-2 {
    background-color: #222f3d;
    color: white;
    font-size: 0.85rem;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}

ul a:hover {
    text-decoration: underline;
}

ul {
    margin-top: 20px;
}

ul p {
    font-size: 1rem;
    font-weight: 700;
}

.foot-pannel-3 {
    background-color: #222f3d;
    height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo {
    background-image: url("images/amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-pannel-4 {
    background-color: #0f1111;
    height: 80px;
    color: white;
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 20px;
}

.copy-right {
    padding-top: 5px;
}